services:
  voicevox:
    image: voicevox/voicevox_engine:nvidia-latest
    container_name: voicevox
    restart: unless-stopped
    ports:
      - "50021:50021"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]